*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", Arial, Tahoma, sans-serif;
}

/* Header and Nav */
header {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 100%;
    height: 8rem;
    background: rgb(0,128,0);
    background: linear-gradient(40deg, rgba(51,51,51,0.99) 0%, rgba(51,51,51,0.99) 95%, rgba(0,128,0,0.57) 100%);
    padding: 1rem 0 1em 0;
    border-bottom: 0.5rem solid green;
}

header img{
    width: 25rem;
}

container-fluid{
    background-color: #333;
}

nav{
    margin: 0.4rem 2em 0 0;
    align-items: center;
}    

nav ul{
    margin: 0.6rem 0;
    padding: 0;
    display: flex;
    justify-content: right;
}

nav li {
    list-style-type: none;
    margin: 0 0.1rem; 
}

nav li a{
    /*font-size: 1.2rem;*/
    text-decoration: none;
    line-height: 1.5rem; 
    padding: 0.4rem;
    color: #FFF;
    background-color: #333;
    border: 0.1rem solid green;
    border-radius: 0.4rem;
}

nav li a:hover{
    color: #333;
    background-color: #FFF;
}

.navbar-toggler {
    border: 0.1rem solid green;
    border-radius: 0.3rem;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    /* Cambia el color de los trazos a blanco */
} 

.navbar-toggler:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.icon_cart{
    width: 5rem;
    height: 3rem;
    margin-top: 0.6rem;
    position: fixed;
    right: 15rem;
    z-index: 1;
}

.icon_cart:hover{
    color: #fff;
    border: 0.2rem solid #fff;
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.3);
}

#contadorCarrito {
    margin-left: 0.5rem; 
}

.inicio{
    background-color: rgb(51, 51, 51);
    border-bottom: 0.5rem solid green;
}

.titulo-inicio{
    display: flex;
    justify-content: center; 
    padding-top: 1rem;

} 

.titulo-inicio p{
    color: #FFF;
    background-color: 333;
    font-size: 1.2rem;
}

.imagen-inicio{
    width: 100%;
    border-bottom: 0.5rem solid green;
}

/*reseñas-clientes*/
.grid-container-resenas{
    height: 100%;
    background-image: linear-gradient(rgba(253, 249, 249, 0.5), rgba(51, 51, 51, 0.9)),
                  url("./img/tractor-6704118_1280.jpg");
    background-size: cover;
    border-bottom: 0.5rem solid green;
}

.titulo-seccion{
    display: flex;
    justify-content: center; 
    padding: 2rem;
    border-bottom: 0.1rem solid green;
}

.titulo-seccion p{
    font-size: 2rem;
    color: #fff;
    background-color: green ;
    border: 0.05rem solid #333;
    border-radius: 0.3rem;
    padding: 0.5rem;
}

/*reseñas*/
.grid-container-resenas{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;  
}

.resena{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    background: rgb(0,128,0);
    background: linear-gradient(40deg, rgba(51,51,51,0.56) 0%, rgba(255,255,255,0.75) 6%, rgba(255,255,255,0.75) 95%, rgba(0,128,0,0.57) 100%);
    margin: 2rem;
    padding: 2rem;
    border: 0.1rem solid #333;;
    border-radius: 0.5rem;
}

.resena:hover{
    background: rgb(0,128,0);
    background: linear-gradient(40deg, rgba(51,51,51,0.56) 0%, rgba(255,255,255,0.75) 30%, rgba(255,255,255,0.75) 70%, rgba(0,128,0,0.57) 100%);

}

.imagen-resena{
    width: 10em;
    border-radius: 50% 50%;
    border: 0.2rem solid green;
}


.nombre-usuario{
    font-size: 1.5rem;
    font-weight: bold;
}

.texto-valoracion{
    text-align: justify;
}

/*links a páginas*/
.links-section-inicio{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(51, 51, 51, 0.95), rgba(0, 128, 0, 0.95)),
                  url("./img/tractor-5753374_1280.jpg");
    background-size: cover;

}

.links-section-inicio a{
    font-size: 2rem;
    color: #FFF;
    margin: 0.5rem;
    padding: 2rem;
    border: 0.01rem solid #fff;
    border-radius: 0.2rem;
    text-decoration: none;
}

.links-section-inicio a:hover{
    color: #FFF;
    background: rgb(0,128,0);
    background: linear-gradient(40deg, rgba(0,128,0,0.56) 0%, rgba(51,51,51,0.50) 6%, rgba(51,51,51,0.50) 95%, rgba(0,128,0,0.57) 100%);
    border: 0.01rem solid #333;
}

/*footer*/
.container-footer{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background: rgb(0,128,0);
    background: linear-gradient(40deg, rgba(51,51,51,0.99) 0%, rgba(51,51,51,0.99) 95%, rgba(0,128,0,0.57) 100%);
    color: #fff;
    border-top: 0.5rem solid #FFF;
}

.img-footer{
    width: 15rem;
    margin: 1.1rem 0 1rem 0;
}

.copyright{
    font-size: 0.6rem;
    text-align: center;
}

.logo-copyright-footer{
    display: flex;
    flex-direction: column;     
    justify-content: center;    
    align-items: center;   
    
}

.menu-footer, .redes{
    margin-top: 1.5rem;
}

.menu-footer li{
    list-style-type: none;
}

.menu-footer a{
    color: #fff;
    text-decoration: none;
}

.menu-footer a:hover{
    color: green;
}

.redes i{
    color: #fff;
    padding: 1rem 1rem 0 0;
    font-size: 1.1rem;
}

.redes i:hover{
    color: green;
}


/*formulario-mapa*/
.formulario-mapa{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between; 
    align-items: center;   
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(51, 51, 51, 0.9)),
                  url("./img/tractor-6704118_1280.jpg");
    background-size: cover;

}

/*formulario*/
form{
    padding: 2rem;
}

form > div{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    padding: 0.8rem;
}


form label{
    font-size: 1.1rem;
    padding: 0.1rem;
    color: #fff;
    background-color: #333;
    border: 0.1em solid rgb(51, 51, 51);
    border-radius: 0.2rem;
}


#nombre, #apellido, #email, #mensaje, .botones > input{
    font-size: 1rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    width: 20em;
    /*height: 1rem;*/
    border: 0.1em solid rgb(51, 51, 51);
    border-radius: 0.5rem;
}

#mensaje{
    height: 10rem;
}

.botones > input{
    font-size: 1.1rem;
    height: 2.5rem;
    color:#fff;
    background-color: rgb(0, 128, 0);
    border: 0.1rem solid #333;
    border-radius: 0.5rem;
}

.botones > input:hover{
    color: #fff;
    background-color:#333;

}

/*mapa*/
.mapa{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}


iframe{
    width: 500px;
    height: 500px;
    border: 0.1rem solid rgb(51, 51, 51);
    border-radius: 0.5rem;
}

/*producto*/
.container-producto{
    background-image: linear-gradient(rgba(253, 249, 249, 0.5), rgba(51, 51, 51, 0.9)),
                  url("./img/tractor-6704118_1280.jpg");
}

.my-5{
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.producto{
    background: rgb(0,128,0);
    background: linear-gradient(40deg, rgba(51,51,51,0.56) 0%, rgba(255,255,255,0.75) 6%, rgba(255,255,255,0.75) 95%, rgba(0,128,0,0.57) 100%);
    border: 0.1rem solid rgb(0, 128, 0);
    border-radius: 0.5rem;
}

.producto:hover{
    background: rgb(0,128,0);
    background: linear-gradient(40deg, rgba(51,51,51,0.56) 0%, rgba(255,255,255,0.75) 30%, rgba(255,255,255,0.75) 70%, rgba(0,128,0,0.57) 100%);
    transition-duration: 50ms;
    border: 0.1rem solid black;
}

.imagen-producto{  
    width: auto;
    height: 20rem;
    object-fit: cover;
    border-radius: 0.5rem;   
}

.imagen-producto:hover{
    border: 0.12rem solid rgb(0,128,0);
    border-radius: 0.5rem;
    transition-duration: 50ms;
}

.nombre-producto, .precio-producto{
    padding: 1rem 0;
}

.valoracion{
        color: rgb(0, 128, 0);  
}

.precio-producto{
    font-size: 1.5rem;
}

.btn-primary{
background-color: hwb(120 0% 50%);
    border: 0.1rem solid #333;
    border-radius: 0.5rem;
}

.btn-primary:hover{
    background-color: rgb(51, 51, 51);
    border: 0.12rem solid hwb(120 0% 50%);
}

@media (max-width:1500px)  {
    .grid-container-producto{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:1000px){
    .icon_cart{
        margin-top: 5.8rem;
        right: 5rem;
    }

    header {
        flex-direction: column; 
        height: auto;
    }

    nav li a{
        font-size: 0.8rem;
    }
    
    nav li {
    margin-top: 0.5rem;
    
    }

}


@media (max-width:900px)  {

    .grid-container-resenas{
        grid-template-columns: repeat(2, 1fr);
}

    .grid-container-producto{
        grid-template-columns: repeat(1, 1fr);
}

    .formulario-mapa{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
}

}


@media (max-width:680px)  {
    .grid-container-resenas{
        grid-template-columns: repeat(1, 1fr);
    }

    .links-section-inicio, .container-footer{
        flex-direction: column; 
        text-align: center;
    }

    #nombre, #apellido, #email, #mensaje, .botones > input{
        width: 60%;
    }

    .mapa{
        display: none;
    }

    .titulo-inicio p{
        font-size: 1rem;
    }

    .titulo-inicio{
        padding: 1rem 2rem;
    } 

    header img{
        width: 15rem;
    }

    .img-footer{
        width: 9rem;
    }

}




